In [19]:
import pandas as pd
import numpy as np 

df = pd.read_csv("train_data.csv")
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59966 entries, 0 to 59965
Data columns (total 16 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ID                            59966 non-null  int64
 1   HealthServiceArea             59966 non-null  object
 2   Gender                        59966 non-null  object
 3   Race                          59966 non-null  object
 4   TypeOfAdmission               59966 non-null  object
 5   CCSProcedureCode              59966 non-null  int64
 6   APRSeverityOfIllnessCode      59966 non-null  int64
 7   PaymentTypology               59966 non-null  object
 8   BirthWeight                   59966 non-null  int64
 9   EmergencyDepartmentIndicator  59966 non-null  object
 10  AverageCostInCounty           59966 non-null  int64
 11  AverageChargesInCounty        59966 non-null  int64
 12  AverageCostInFacility         59966 non-null  int64
 13  AverageChargesInFacility      59966 non-null  int64
 14  AverageIncomeInZipCode        59966 non-null  int64
 15  LengthOfStay                  59966 non-null  int64
dtypes: int64(10), object(6)
memory usage: 7.3+ MB

In [18]:
df.drop(columns = ['ID','HealthServiceArea'],inplace=True,axis=1)
df.head()

,Gender,Race,TypeOfAdmission,CCSProcedureCode,APRSeverityOfIllnessCode,PaymentTypology,BirthWeight,EmergencyDepartmentIndicator,AverageCostInCounty,AverageChargesInCounty,AverageCostInFacility,AverageChargesInFacility,AverageIncomeInZipCode,LengthOfStay
0,F,Other Race,Newborn,228,1,Medicaid,3700,N,2611,9227,1751,8951,45,1
1,M,Black/African American,Newborn,228,1,Medicaid,2900,N,3242,8966,3338,6409,34,1
2,M,Other Race,Newborn,220,1,Private Health Insurance,3200,N,3155,11381,4980,9323,45,1
3,F,Other Race,Newborn,0,1,Private Health Insurance,3300,N,3155,11381,5826,15680,59,1
4,F,Other Race,Newborn,228,1,Medicaid,2600,N,2611,9227,6000,14344,59,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59961,M,Black/African American,Newborn,115,1,Blue Cross/Blue Shield,3600,N,1826,4190,1551,3715,36,4
59962,M,White,Newborn,115,2,Blue Cross/Blue Shield,3300,N,1826,4190,1551,3715,55,6
59963,M,White,Newborn,115,2,Blue Cross/Blue Shield,3400,N,1826,4190,1551,3715,55,4
59964,M,White,Newborn,-1,2,Medicaid,3100,N,1826,4190,1551,3715,55,4
59965,F,White,Newborn,231,2,Blue Cross/Blue Shield,3900,N,1826,4190,1551,3715,36,4